body {
  background-color: rgb(53, 52, 50);
}

.beige-text {
  color: beige;
}

.center {
  text-align: center;
}

#display {
float: right;
margin-right: 300px;
padding-bottom: 200px;
}

#name {
  font-family: 'Abril Fatface', cursive, "Times New Roman", Times, serif;
  font-size: 100px;
  text-align: center;
  /* padding-top: 5px; */
  
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;

}
.navigation-container div {
  margin: 10px;
  padding: 20px;
  font-size: 25px;
}
.navigation-container div a {
  text-decoration: none;
}

.presentation {
  position: fixed;
  right: 0;
  left: 0;
  padding-bottom: 217px;
  color: rgb(53, 52, 50);
  background-image: url(./Photos/robert-wnuk-7MGaw--_kwA-unsplash.jpg); /*Fall*/
  /* background-image: url(./Photos/alexander-possingham-JQS64mmmuHw-unsplash.jpg);*//* winter */

  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.quotes {
  text-align: center;
  padding-top: 60px;
  
}
/* Animation */
.leaf{
  text-align: right;
  padding-right: 8rem;
  
}
.slide-top {
	-webkit-animation: slide-top 3.5s linear infinite alternate both;
	        animation: slide-top 3.5s linear infinite alternate both;
}

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

